<template name="layout">
	<div class="container">

		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">


		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed"
			  			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

		      <a class="navbar-brand" href="{{pathFor 'home'}}">
		      	Meteor Demos
					</a>
		    </div>



		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">


							<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								 About  <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{pathFor 'about'}}">About Us</a></li>
									<li><a href="{{pathFor 'sponsors'}}">Our Sponsors</a></li>
									<li><a href="{{pathFor 'contact'}}">Contact us</a></li>
									<li><a href="{{pathFor 'chat'}}">Chat with us</a></li>
									<li role="separator" class="divider"></li>
								</ul>
							</li>

							<li><a href="{{pathFor 'apidemo'}}">API Demos</a></li>
							<li><a href="{{pathFor 'userList'}}">Servers</a></li>
							<li><a href="{{pathFor 'sandbox'}}">Sandbox</a></li>

							<li class="dropdown">
				       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								 Facebook Lite <span class="caret"></span></a>
				        <ul class="dropdown-menu">
									<li><a href="{{pathFor 'fbprofile'}}">Profile</a></li>
									<li><a href="{{pathFor 'fbusers'}}">Members</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="{{pathFor 'fbtimeline'}}">Timeline</a></li>
				        </ul>
			        </li>

							<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								 Games <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{pathFor 'pokemon'}}">Pokemon</a></li>
									<li><a href="{{pathFor 'draw'}}">Draw</a></li>
									<li><a href="{{pathFor 'graphics'}}">Bounce</a></li>
									<li><a href="{{pathFor 'game'}}">Networked Game</a></li>
									<li><a href="{{pathFor 'firefly'}}">Firefly</a></li>
									<li role="separator" class="divider"></li>
								</ul>
							</li>
						</ul>
			    <ul class="nav navbar-nav navbar-right">
			            {{> loginButtons}} <!-- here -->
			    </ul>
		    </div><!-- /.navbar-collapse -->

		  </div><!-- /.container-fluid -->
		</nav>

		<!-- Here is where the actual content of the page gets inserted by the router! -->
		{{> yield}}

	</div>
</template>
